body {
    background-image: url(271639941-2450656908405221-6074538161909146961-n.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: darkorange;
    font-size: 40px;
}